<div class="card">
    <div class="card-header">
        Đăng Nhập
    </div>
    <div class="card-body">
        <form action="" method="" name="formDK">
            <div class="mb-3">
                <label> Tài Khoản </label>
                <input type="text" name="taiKhoan" id="taiKhoan" class="form-control mt-2" ng-model="sv.taiKhoan"
                    autocomplete="off" required>
                <small class="text-danger" ng-hide="formDK.taiKhoan.$untouched || formDK.taiKhoan.$valid">
                    Không được để trống
                </small>
            </div>
            <div class="mb-3">
                <label>Mật Khẩu</label>
                <input class="form-control mt-2" type="password" name="matKhau" id="matKhau" ng-model="sv.matKhau"
                    autocomplete="off" check-password ng-model="sv.matKhau" required>
                <small class="text-danger" ng-hide="formDK.matKhau.$untouched || formDK.matKhau.$valid">
                    Không được để trống
                </small>
            </div>
            <div class="p-3 pt-3">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-save" href="#trangChu"></i>
                    Đăng Nhập
                </button>
                <button type="button" class="btn btn-outline-danger m-3">
                    <i class="fas fa-window-close"></i>
                    Thoát
                </button>
                <a href="#quenMK" class="link-primary">Quên Mật Khẩu</a>
            </div>
        </form>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> Thông Báo </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-success" ng-show="formDK.$valid">
                        Đăng nhập thành công
                    </h4>
                    <h4 class="text-danger" ng-hide="formDK.$valid">
                        Đăng nhập thất bại
                    </h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>